/*========================================================================================================
            général
========================================================================================================            */
body {
    font-size: 62.5%;
}
h1, h2 {
    font-family: lobster, "Open Sans","Helvetica Neue",Arial,sans-serif
}
p, .navtxt {
    font-size: 2.7em;
    font-family: cuprum;
}
/*========================================================================================================
            header
========================================================================================================            */
header {
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: center;
  color: #fff;
  background-image: url(../img/header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
h1 {
    margin-top: 0;
    vertical-align: middle;
    line-height: 20px;
    padding-left: 35px;
}
.img-responsive {
  width: 35%;
  height: auto;
}
.col-md-4 {
  text-align: center;
}
.backgroundcolor1 {
  background-color: #5CB85C;
  color: white;
}
.backgroundcolor2 {
  background-color: #ffe63b;
}
.backgroundcolor3 {
  background-color: #FF3737;
  color: white;
}
/*========================================================================================================
            boutons
========================================================================================================            */
.btn {
    border: 0px none;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
}
a:focus {
  outline: 0;
}
/*========================================================================================================
                bio page
========================================================================================================            */
<<<<<<< HEAD


.navbar-inverse {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-inverse .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
    color: red;
}

.navbar-inverse .nav > li>#acc,
.navbar-inverse .nav>li>#acc:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .nav > li>#acc:hover,
.navbar-inverse .nav>li>#acc:focus:hover {
    color: grey;
}
.navbar-inverse .nav > li>#bio,
.navbar-inverse .nav>li>#bio:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .nav > li>#bio:hover,
.navbar-inverse .nav>li>#bio:focus:hover {
    color: #5CB85C;
}

.navbar-inverse .nav > li>#show,
.navbar-inverse .nav>li>#show:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .nav > li>#show:hover,
.navbar-inverse .nav>li>#show:focus:hover {
    color: #ffe63b;
}
.navbar-inverse .nav > li>#media,
.navbar-inverse .nav>li>#media:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .nav > li>#media:hover,
.navbar-inverse .nav>li>#media:focus:hover {
    color: #FF3737;
}
.navbar-inverse .nav > li>#contact,
.navbar-inverse .nav>li>#contact:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .nav > li>#contact:hover,
.navbar-inverse .nav>li>#contact:focus:hover {
    color: grey;
}
/*===========================================================================================================*/

/*===========================================================================================================*/

.rubberBand {
  animation-play-state: paused;
}
.rubberBand:hover {
  animation-play-state: running;
=======
.biotxt {
    text-align: justify;
    margin-top: 3em;
    font-weight: bold;
    margin-bottom: 2em;
>>>>>>> 113657f629a1e28d7ace997e69479c03237d4606
}
